body {
  background-color: rgb(244, 227, 255);
}
.navbar-custom {
  background-color: rgb(35, 0, 59);
  font-style: italic;
}

.btn-custom {
  background-color: rgb(240, 234, 245);
  color: rgb(35, 0, 59);
  border-width: 2px;
  border-color: rgb(35, 0, 59);
}

.logo {
  width: 50px;
}

p {
  padding: 20px;
}

.form-select {
  padding: 1em;
  background-color: rgb(240, 234, 245);
  max-width: 20em;
  border-color: rgb(35, 0, 59);
  border-width: 2px;
}

.hakunappi {
  padding: 1em;
}
